
// ===== HEADER
// ================================================================================

.header-main {
	color: #FFFFFF;
	position: relative;
	.header-toolbar-prime {
		background: $color-navy;
		position: relative;
		z-index: 1;
	}
	.page-wrapper.main {
		min-height: 55px;
		position: relative;
	}
}

// TriMark Logo
.header-logo {
	border: solid mix(#FFFFFF, $color-navy, 25%) 2px;
	border-radius: 50%;
	height: 42px;
	left: 50%;
	margin: -22px 0 0 -21px;
	padding: 2px;
	position: absolute;
	top: 50%;
	width: 42px;
	.circle {
		background: mix(#FFFFFF, $color-navy, 25%);
		border-radius: 50%;
		height: 100%;
		width: 100%;
	}
	.triangle {
		$triangle-height: 12px;
		border-color: transparent transparent transparent $color-navy;
		border-style: solid;
		border-width: $triangle-height/2 0 $triangle-height/2 $triangle-height*0.866;
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
	}
	.triangle-top {
		left: 11px;
		top: 6px;
	}
	.triangle-right {
		left: 23px;
		top: 13px;
	}
	.triangle-bottom {
		left: 11px;
		top: 20px;
	}
}

// Generic Header Button
.header-btn {
	@include transition(color 0.1s linear);
	color: mix(#FFFFFF, $color-navy, 50%);
	cursor: pointer;
	display: block;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	text-decoration: none;
	text-transform: uppercase;
	i {
		display: inline-block;
		&:before {
			line-height: 40px;
		}
	}
	&:hover {
		color: #FFFFFF;
	}
}

// "Go Back" Button
.header-back-btn {
	left: 0;
	i {
		float: left;
		margin-right: 10px;
		&:before {
			font-size: 20px;
		}
	}
}
.header-back2project-btn {
	line-height: 1.1;
	.label {
		display: inline-block;
		padding-top: 7px;
	}
}

// "See All Comps" Button
.header-comp-grid-btn {
	left: 120px;
	i:before {
		font-size: 24px;
	}
}

// Design Comp Information
.header-comp-info {
	float: right;
	line-height: 1;
	padding: 10px 0 5px 0;
	text-align: right;
	width: 440px;
	.client-design {
		color: mix(#FFFFFF, $color-navy, 50%);
		font-size: 11px;
		margin-bottom: 3px;
		text-transform: uppercase;
	}
	.comp {
		font-family: $font-titillium-regular;
		font-size: 18px;
	}
}

// Project Design Comps
.header-project-comp-grid {
	background: #FFFFFF;
	border-bottom: solid darken($color-gray-lite, 10%) 1px;
	position: absolute;
	top: -500px;
	width: 100%;
	z-index: 0;
	.page-wrapper {
		padding: 10px 0;
		position: relative;
	}
	li {
		display: inline-block;
		float: left;
		width: 120px;
	}
	a {
		border: solid #FFFFFF 1px;
		border-radius: 4px;
		display: block;
		padding: 10px;
		position: relative;
		text-decoration: none;
		&:hover {
			background: lighten($color-gray-lite, 2%);
			border-color: darken($color-gray-lite, 1%);
		}
		&.active {
			background: $color-gray-lite;
			border-color: darken($color-gray-lite, 15%);
		}
	}
	img {
		display: block;
		max-width: 100%;
	}
	.comp-meta {
		background: rgba(0,0,0,0.8);
		border-radius: 4px;
		color: #FFFFFF;
		display: none;
		font-size: 11px;
		left: 50%;
		line-height: 1.25;
		margin-left: -75px;
		padding: 8px 10px;
		position: absolute;
		text-align: center;
		width: 150px;
		z-index: 1;
		.set {
			color: darken($color-gray-lite, 30%);
			font-weight: bold;
			margin-bottom: 3px;
		}
		&:after {
			border-style: solid;
			border-width: 0 6px 6px 6px;
			border-color: transparent transparent rgba(0,0,0,0.8) transparent;
			content: " ";
			height: 0;
			left: 50%;
			margin-left: -6px;
			position: absolute;
			top: -6px;
			width: 0;
		}
	}
	a:hover .comp-meta {
		display: block;
	}
	.header-project-comp-grid-ctrl {
		color: darken($color-gray-lite, 10%);
		cursor: pointer;
		display: none;
		height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 40px;
		&.ctrl-prev {
			left: 0;
		}
		&.ctrl-next {
			right: 0;
		}
		& i {
			font-size: 30px;
			line-height: 40px;
		}
		&:hover {
			color: darken($color-gray-lite, 30%);
		}
	}
}
