
// ===== DESIGN SINGLE / COMP
// ================================================================================

.pg-design-attachment {
	padding: 0;

	// Page Background
	.page-background {
		background: url('../img/bg-transparent-grid.png') 0 0 repeat;
		background-attachment: fixed;
		padding: 30px 0;
		&.bg-setting-transparency-grid {
			background: url('../img/bg-transparent-grid.png') 0 0 repeat;
		}
		&.bg-setting-white {
			background: #FFFFFF;
		}
		&.bg-setting-black {
			background: #1E1E1E;
		}
	}

	// Design Display
	.design-display {
		background-position: top center;
		background-repeat: no-repeat;
	}
}
