
// ===== DESIGN SINGLE / COMP
// ================================================================================

.pg-design-attachment {
	background: url('../img/bg-transparent-grid.png') 0 0 repeat;
	padding-top: 30px;

	// Design Display
	.design-display {
		background-position: top center;
		background-repeat: no-repeat;
	}
}













