/* line 8, ../sass/login.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/login.scss */
html {
  font-size: 14px;
}

/* line 19, ../sass/login.scss */
.pie, #login, #login:before {
  behavior: url("/PIE.htc");
}

/* line 23, ../sass/login.scss */
body.login {
  background: #EEEEEE url("../img/bg-pattern-knit.png") 0 0 repeat;
  color: #51504C;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 1px;
}

/* line 35, ../sass/login.scss */
#login {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
  margin: 8% auto 0 auto;
  overflow: auto;
  padding: 0;
  position: relative;
}
/* line 44, ../sass/login.scss */
#login:before {
  border: dashed #EEEFF3 1px;
  border-radius: 9px;
  bottom: 4px;
  content: " ";
  left: 4px;
  right: 4px;
  position: absolute;
  top: 4px;
  z-index: 0;
}
/* line 56, ../sass/login.scss */
#login * {
  position: relative;
}

/* line 65, ../sass/login.scss */
.login h1 {
  margin-top: 40px;
}
/* line 67, ../sass/login.scss */
.login h1 a {
  background: url("../img/logo-jefferies-wp-login.png") 0 0 no-repeat;
  display: inline-block;
  height: 45px;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 270px;
}
/* line 77, ../sass/login.scss */
.login .message {
  border: solid #EEEFF3 1px;
  border-left: solid #7AD03A 4px;
  box-shadow: none;
  margin: 25px 25px 0 25px;
}
/* line 83, ../sass/login.scss */
.login #login_error {
  border: solid #EEEFF3 1px;
  border-left: solid #DD3D36 4px;
  box-shadow: none;
  margin: 25px 25px 0 25px;
}
/* line 89, ../sass/login.scss */
.login form {
  background: none;
  border: 0;
  box-shadow: none;
  margin: 40px 0 40px 0;
  padding: 0 25px;
}
/* line 96, ../sass/login.scss */
.login input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}
/* line 99, ../sass/login.scss */
.login #nav, .login #backtoblog {
  margin: 0;
  padding: 0;
}
/* line 102, ../sass/login.scss */
.login #nav a, .login #backtoblog a {
  background: #EEEEEE;
  border-radius: 5px;
  display: block;
  line-height: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 230px;
}
/* line 111, ../sass/login.scss */
.login #nav a:hover, .login #backtoblog a:hover {
  background: #2EA2CC;
  color: #FFFFFF;
}
/* line 117, ../sass/login.scss */
.login #backtoblog {
  margin: 8px 0 32px 0;
}
